body {
	font-family: sans-serif;
	/*letter-spacing: 1px;*/
	background-color: rgba(0, 0, 0, .0125);

}

h1 {
	font-size: 200%;
	font-weight: bold;
}

h2 {
	font-size: 100%;
	font-weight: bold;

}

h3 {
	font-size: 100%;
}

#top-box {
	width: 100%;
	text-align: center;
	padding: 15% 0% 5% 0%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
	url('../img/city-birdeye.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

#top-box h1 {
	padding: 1% 0%;
	font-weight: bolder;
}

#top-box h3:last-of-type {
	margin-bottom: 5%;
}

#top-box a {
	padding: 1% 5%;
	border: 3px solid #E62F17;
	border-radius: 10px;
}

#top-box a:hover {
	background-color: rgba(230, 47, 23, 0.125);
}

#top-box p {
	margin-top: 2%;
	font-size: 100%;
}

.points-row {
	width: 80vw;
	background-color: pink;
}

#points-row-1 {
	margin: 5vw auto;
}

#points-row-2 {
	margin: 0vw auto;
}

.points {
	width: 20vw;
	float: left;
	text-align: center;
}

#points-row-1 .points:nth-of-type(2) {
	margin: 0vw 10vw;
}

#points-row-2 .points:nth-of-type(1) {
	margin: 5vw 15vw;
}

#points-row-2 .points:nth-of-type(2) {
	margin: 5vw 0vw;	
}

.points .icon {
	width: 7vw;
	height: 7vw;
	border-radius: 10px;
	margin: 0vh auto 2vh auto;

	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid;
}

#p-log {
	background-image: url('../img/bike2.png');
	border-color: lightgreen;
}

#p-api {
	background-image: url('../img/gear.png');
	border-color: lightblue;
}

#p-price {
	background-image: url('../img/dollarsign.png');
	border-color: orange;
}

#p-area {
	background-image: url('../img/map.png');
	border-color: yellow;
}

#p-wheel {
	background-image: url('../img/wheel.png');
	border-color: lightpink;
}

.points h2 {
	margin-bottom: 1vh;
}

.points p {
	font-size: 100%;
	line-height: 125%;
}

#tag-line {
	clear: both;
	width: 100%;
	padding: 5% 0%;
	text-align: center;
	margin-bottom: 5%;

	background-image: url('../img/citygrid-15.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#tag-line p {
	padding: 0% 20%;
	font-size: 200%;
	line-height: 150%;
}

#how-it-works {
	width: 100%;
}

#code-well {
	float: left;
	width: 40vw;
	margin: 0vw 10vw 5% 10vw;
	border: 3px solid #E62F17;
	border-radius: 10px;

}

#nav-tabs {
	width: 40vw;
	font-size: 100%;
}

#nav-tabs li {
	float: left;
	min-width: 50px;
	padding: 1vh 1vw 1vh 1vw;

}

#code {
	float: left;
	width: 40vw;
	height: 40vh;
	/*padding: 1vw;*/
	overflow: scroll;
	/*background-color: white;*/
	background-color: #3f3f3f;
	border-radius: 0px 0px 10px 10px;
}

pre {
	border: none !important;
	font-family: monospace !important;
	background-color: #3f3f3f !important;
}

#text {
	float: left;
	width: 30vw;
	margin-bottom: 5%;
}

#text > h2 {
	margin-bottom: 1vh;
}

#text > p {
	font-size: 100%;
	line-height: 125%;
	margin-bottom: 4.5%;
}

#text a {
	font-size: 100%;
	padding: 2% 5%;
	border: 3px solid #E62F17;
	border-radius: 5px;
}

#text a:hover {
	background-color: rgba(230, 47, 23, 0.125);
}

#tag-line-2 {
	clear: both;
	width: 100%;
	padding: 5% 0%;
	text-align: center;
}

#tag-line-2 p {
	padding: 0% 20%;
	font-size: 200%;
	line-height: 150%;
	margin-bottom: 3.5%;
}

#tag-line-2 a {
	padding: 1% 5%;
	border: 3px solid white;
	border-radius: 10px;
}

#tag-line-2 a:hover {
	background-color: rgba(255, 255, 255, 0.125);
}


#footer {
	width: 100%;
	clear: both;
}

#footer p {
	padding: 1%;
	font-size: 100%;
}

.link {
	text-decoration: none;
	color: inherit;
}

.c1-b {
	background-color: #E62F17;
	color: white;
}

.c1-t {
	color: #E62F17;
}







