.c1-b {
	background-color: lightblue;
}

.c1-t {
	color: lightblue;
}

body {
	font-family: sans-serif;
	/*letter-spacing: 1px;*/
}

h1 {
	font-size: 200%;
	font-weight: bold;
}

h2 {
	font-size: 100%;
	font-weight: bold;

}

h3 {
	font-size: 100%;
}

#top-box {
	width: 100%;
	text-align: center;
	padding: 15% 0% 5% 0%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
	url('../img/city-birdeye.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
}

#top-box h1 {
	padding: 1% 0%;
	font-weight: bolder;
}

#top-box h3 {
	/*font-weight: lighter;*/
}

#top-box h3:last-of-type {
	margin-bottom: 5%;
}

#top-box a {
	padding: 1% 5%;
	border: 3px solid lightblue;
	border-radius: 10px;
	color: lightblue;
}

#top-box p {
	margin-top: 2%;
	font-size: 75%;
}

#tag-line {
	width: 100%;
	padding: 2.5% 0% 2.5% 0%;
	text-align: center;
}

.points-row {
	width: 80vw;
	height: 13vw;
	margin: 5vw auto;
	/*background-color: pink;*/
}

.points {
	width: 20vw;
	height: inherit;
	float: left;
	text-align: center;
}

#points-row-1 .points:nth-of-type(2) {
	margin: 0vw 10vw;
}

#points-row-2 .points:nth-of-type(1) {
	margin: 0vw 15vw;
}

.points .icon {
	width: 7vw;
	height: 7vw;
	border-radius: 10px;
	margin: 0vh auto 2vh auto;

	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid;
}

#p-log {
	background-image: url('../img/bike2.png');
	border-color: lightgreen;
}

#p-api {
	background-image: url('../img/gear.png');
	border-color: crimson;
}

#p-price {
	background-image: url('../img/dollarsign.png');
	border-color: orange;
}

#p-area {
	background-image: url('../img/map.png');
	border-color: yellow;
}

#p-wheel {
	background-image: url('../img/wheel.png');
	border-color: lightpink;
}

.points h2 {
	margin-bottom: .5vh;
}

.points p {
	font-size: 75%;
}

#how-it-works {
	clear: both;
	width: 100%;
	padding: 5% 0% 5% 0%; 
}

.link {
	text-decoration: none;
	color: inherit;
}









